parameters:
	ignoreErrors:
		- '#Do not throw the \\Exception base class. Instead, extend the \\Exception base class. More info: http:\/\/bit.ly\/subtypeexception#'
		- '#In method "ReactParallel\\FutureToPromiseConverter\\FutureToPromiseConverter::convert", caught "Throwable" must be rethrown. Either catch a more specific exception or add a "throw" clause in the "catch" block to propagate the exception. More info: http:\/\/bit.ly\/failloud#'

includes:
	- vendor/wyrihaximus/async-test-utilities/rules.neon